<%- include('./partials/head.ejs') %>

    <main>
        <section class="live-score">

        </section>
        <section class="score-list">

        </section>
        <section class="player-list">
            <section class="home-team">
                <h2>HOME TEAM</h2>
                <% data1.team1Players.forEach(players=> { %>
                    <p id="playerss">
                        <%= players.name %>
                            <span id="number"><%=players.jerseyNumber%></span>
                            
                    </p>
                    <% }) %>
            </section>
            <section class="away-team">
                <h2>AWAY TEAM</h2>
                <% data1.team2Players.forEach(players=> { %>
                    <p id="playerss">
                        <%= players.name %>
                            <span id="number"><%=players.jerseyNumber%></span>
                            
                    </p>
                    <% }) %>
            </section>
        </section>
    </main>

    <%- include('./partials/foot.ejs') %>